---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Dan Joseph
  </div>
  <div class="inline opacity-60 text-xs">
    Template by <a href="https://astrofy-template.netlify.app/" target="_blank" class="underline">Manuel Ernesto</a>
  </div>
</footer>
<style>

</style>
